swapping in python

In [24]:
x=10
y=20
x,y=y,x
print(x,y)

20 10

id() function

In [25]:
a=10
print(id(a))
b=10
print(a is b)
c=a
print(c is b)
c=20
print(c is b) #the task of id function is to provide unique identifiers

140708107438808
True
True
False

type() function

In [26]:
a=10
print(type(a))
b=10.5
print(type(b))
c=2+4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
a= True
print(type(a))
b=None
print(type(b))

<class 'bool'>
<class 'NoneType'>

In [28]:
str="gfg"
print(type(str))
l=[10,20,30]
print(type(l))
t=(10,20,30)
print(type(t))
s={10,20,30}
print(type(s))
d={19:"gfg",20:"ide" }
print(type(d))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

list in python

In [29]:
l=[10,20,30,40,50]
print(l)
print(l[3]) #the list starts from 0,so the 4th element in the index is 40
print(l[-1])
print(l[-2])#likewise in reverse order the last element is -1 and the second last element is -2

[10, 20, 30, 40, 50]
40
50
40

In [30]:
l.append(30)
print(l)
l.insert(1,15)
print(l)
print(15 in l)
print(l.count(30))
print(l.index(30))
print(l.index(30,4,7))

[10, 20, 30, 40, 50, 30]
[10, 15, 20, 30, 40, 50, 30]
True
2
3
6

In [31]:
l=[10,20,30,40,50,60,70,80]
l.remove(30)
print(l)
print(l.pop())
print(l)
print(l.pop(2))

del l[1]
print(l)
del l[0:2]
print(l)

[10, 20, 40, 50, 60, 70, 80]
80
[10, 20, 40, 50, 60, 70]
40
[10, 50, 60, 70]
[60, 70]

In [32]:
l=[10,40,20,50]
print(max(l))
print(min(l))
print(sum(l))
l.reverse()
print(l)
l.sort()
print(l)

50
10
120
[50, 20, 40, 10]
[10, 20, 40, 50]

Tuple in python

In [33]:
t=(10,20,"geek")#cant be change in tuple
print(t)
print(type(t))
t=(10)#this is int 
t=(10,)#this is tuple
print(type(t))

(10, 20, 'geek')
<class 'tuple'>
<class 'tuple'>

In [34]:
t=(10,20,30,40,10)
print(t[2])
print(t[-1])
print(t[1:4])
print(len(t))
print(t.count(10))
print(t.index(20))

30
10
(20, 30, 40)
5
2
1

set in python

In [35]:
s1={20,30,40}
print(s1)
s2=set([10,20,30])
print(s2)
s3={}
print(type(s3))
s4=set()
print(type(s4))
print(s4)

{40, 20, 30}
{10, 20, 30}
<class 'dict'>
<class 'set'>
set()

In [36]:
s={10,20}
s.add(30)
print(s)
s.update([40,50])
print(s)
s.update({60,70},{80,90})
print(s)

{10, 20, 30}
{40, 10, 50, 20, 30}
{70, 40, 10, 80, 50, 20, 90, 60, 30}

set element removing function

In [37]:
s={10,30,20,40}
s.discard(30)
print(s)
s.remove(20)
print(s)
s.clear()
print(s)
s.add(50)
print(s)
del s   #deletes the set

{40, 10, 20}
{40, 10}
set()
{50}

In [38]:
s={10,30,20,40}
print(len(s))
print(20 in s)
print(50 in s)

4
True
False

In [39]:
s1={10,20,30}
s2={20,30,40}
print(s1 | s2) #union print(s1.union(s2))
print(s1 & s2) #intersection print(s1.intersection(s2))
print(s1 - s2) #difference print(s1.difference(s2))
print(s1 ^ s2) #symmetric difference print(s1.symmetric_difference(s2))

{20, 40, 10, 30}
{20, 30}
{10}
{40, 10}

In [40]:
s1={2,4,6,8}
s2={4,8}
print(s1.isdisjoint(s2)) #checks if two sets have no elements in common
print(s1 <= s2) #checks if s1 is a subset of s2
print(s1 >= s2) #checks if s1 is a superset of s2
print(s1 < s2) #checks if s1 is a proper subset of s2
print(s1 > s2) #checks if s1 is a proper superset of s2

False
False
True
False
True

Dictionary in python

In [ ]:
# A dictionary in Python is a collection of key-value pairs.
# Keys must be unique and immutable (like strings, numbers, or tuples).
# Values can be of any type and can be repeated.

# Creating a dictionary
student = {
    "name": "Alice",
    "age": 22,
    "courses": ["Math", "CompSci"]
}
print(student)

# Accessing values using keys
print(student["name"])      # Output: Alice
print(student.get("age"))   # Output: 22

# Adding or updating values
student["grade"] = "A"
student["age"] = 23
print(student)

# Removing a key-value pair
del student["courses"]
print(student)

{'name': 'Alice', 'age': 22, 'courses': ['Math', 'CompSci']}
Alice
22
{'name': 'Alice', 'age': 23, 'courses': ['Math', 'CompSci'], 'grade': 'A'}
{'name': 'Alice', 'age': 23, 'grade': 'A'}
name: Alice
age: 23
grade: A
True
False

In [42]:
d={1:"gfg",2:"ide",3:"cs"}
print(d)
d={}
d["laptop"]=40000
d["mobile"]=20000
d["earphone"]=1000
print(d)
print(d["laptop"])

{1: 'gfg', 2: 'ide', 3: 'cs'}
{'laptop': 40000, 'mobile': 20000, 'earphone': 1000}
40000

In [43]:
d={110: "gfg", 120: "ide", 130: "cs"}
print(d.get(120))  # Output: ide
print(d.get(140)) # Output: None (default value if key not found)
print(d.get(140, "Not Found")) # Output: Not Found (custom default value)

ide
None
Not Found

In [1]:
d={110:"gfg", 120:"ide", 130:"cs"}
d[110]="geeksforgeeks"
print(len(d))  # Output: 3 (number of key-value pairs)
print(d)
print(d.pop(120))  # Output: ide (removes and returns the value for key 120)
print(d)  # Output: {110: 'geeksforgeeks', 130: 'cs'}
del d[130]  # Removes the key-value pair with key 130
print(d)  # Output: {110: 'geeksforgeeks'}
print(d.popitem()) # This will raise an error because popitem() is not called correctly

3
{110: 'geeksforgeeks', 120: 'ide', 130: 'cs'}
ide
{110: 'geeksforgeeks', 130: 'cs'}
{110: 'geeksforgeeks'}
(110, 'geeksforgeeks')

Type Conversion In Python

In [2]:
# example of implicit type conversion
a = 10    # int
b = 20.5  # float
c = a + b  # implicit conversion of int to float
print(c)  # Output: 30.5 (float)
d=True
e=a+d
print(e)  # Output: 11 (int + bool, where True is treated as 1)

30.5
11

In [ ]:
#explicit type conversion
s="135"
i=10+int(s)  # Convert string to int and add to i
f=float(i)  # Convert the result to float
print(f)  # Output: 145.0 (float)
print(i)  # Output: 145 (int)

145.0
145

In [4]:
s="gfg"
print(list(s))  # Convert string to list of characters
print(tuple(s))  # Convert string to tuple of characters
print(set(s))  # Convert string to set of characters (duplicates removed)

['g', 'f', 'g']
('g', 'f', 'g')
{'f', 'g'}

In [8]:
i=['a','b','c']
print(str(i))  # Convert list to string
a=10
b=20
print(str(a) + str(b))  # Convert integers to strings and concatenate   
c=12.5
print(str(c))  # Convert float to string

['a', 'b', 'c']
1020
12.5

In [9]:
t=(10,20,30)
print(list(t))  # Convert tuple to list
s={10,20,30}
print(list(s))  # Convert set to list

[10, 20, 30]
[10, 20, 30]

In [10]:
a=20
print(bin(a))  # Convert integer to binary string
print(oct(a))  # Convert integer to octal string        
print(hex(a))  # Convert integer to hexadecimal string

0b10100
0o24
0x14

In [ ]:
a="1001"
print(int(a, 2))  # Convert binary string to integer
b="23"
print(int(b, 8))  # Convert octal string to integer
c="A1"
print(int(c, 16))  # Convert hexadecimal string to integer